*{
    box-sizing: border-box;
}

body{
    font-family: "open sans", Arial, Helvetica, sans-serif;
    margin:0;
}

.topbar {
position: fixed;
top: 0;
background-color: white;
width: 100%;
box-shadow: 0 1px 4px rgba(0, 0, 0, .15)

}
 .menu{
     margin-left: 500px;
     display: inline-block;
     margin-bottom: 20px;
 }

.menu__list {
    display: inline;
    text-decoration: none;
    list-style: none;
    margin-right: 20px; 
    
}

.menu__list a{
    text-decoration:none;
    text-transform: uppercase;
    color: grey;
    font-weight: lighter;
}

.mulhere{
    display: inline-block;
}


.container{
    width: 960px;
    margin: 0 auto;
}

.col-1-de-3{
display: inline-block;
width: 30%;
}



.col-2-de-3{
display:inline-block;
width:65%;
}


header{
    padding: 50px; 
}

.header__titulo{
   
    text-transform: uppercase;
    color: #9013FE;
    font-weight:lighter;
    font-size: 16px;
    text-align: center;
}

.autora{
    border: 1px solid lightgray;
    text-align: center;
    padding: 20px;
    vertical-align: top;
    height: 480px;
    margin:65px 10px auto auto;
    
}

.autora__nome , .autora__ocupacao{
    margin: 0;
}

.autora__nome{
    margin-top: 10px;
}

article{


    padding:20px; 
    margin-left: 90px;
    
}


.article__titulo {
    font-size:36px;
    margin-top: 0;

}

.article p {
    font-size: 24px;
    
}


footer{
    background-color: purple;
    text-align: center;
    color: white;
}

.rodape p{
    margin:0;
    padding: 10px 0;
}


